* {
  box-sizing: border-box;
  margin: 0;
}

body {
 font-family: Arial;
 color: rgb(255, 255, 255);
 background-color: #000000;
}


header {
  /* background-image: url("pexels-pixabay-209207.png"); */
  padding: 8%;
  background-size: 100% 100%;

}

header h1 {
  
  text-align: center;
  font-family: cursive;
  font-size: 5rem;
  line-height: 2;
}